@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,200;8..144,300;8..144,400&family=Roboto:ital,wght@0,400;1,700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center; /*centraliza horizontalmente*/
    justify-content: center; /*centraliza verticalmente e precisa do height*/
    height: 100vh; /*ocupa dota a viewport*/
    overflow: hidden;
    margin: 0;
}