@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,200;8..144,300;8..144,400&family=Roboto:ital,wght@0,400;1,700&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*centraliza horizontalmente*/
    justify-content: center;
    /*centraliza verticalmente e precisa do height*/
    height: 100vh;
    /*ocupa dota a viewport*/
    margin: 0;
}

canvas {
    border: 2px solid rgb(205, 90, 90);
}

.toolbox {
    background-color: rgb(205, 90, 90);
    display: flex;
    width: 804px;
    padding: 1rem;
}

.toolbox>* {
    background-color: #fff;
    border: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    height: 50px;
    width: 50px;
    margin: 0.25rem;
    padding: 0.25rem;
    cursor: pointer;
}

.toolbox>*:last-child {
    margin-left: auto;
}